#logo{
    background-color: rgb(2, 241, 22);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    opacity: 50%;
}

header{
    background-color: rgb(247, 247, 114);
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    opacity: 50%;
}

#headright{
    background-color: rgb(2, 241, 22);
    grid-column: 8 / 9;
    grid-row: 1 / 2;
    opacity: 50%;
}

nav{
    grid-row: 2 / 3;
    grid-column: 1 / 9;
    background-color: rgb(233, 51, 233);
    opacity: 50%;
}

#leftcarbackground{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: rgb(15, 199, 255);
    opacity: 50%;
}

#carbackground{
    grid-column: 1 / 9;
    grid-row: 3 / 4;
    background-color: rgb(252, 159, 37);
    opacity: 50%;
}

#rightcarbackground{
    grid-column: 8 / 9;
    grid-row: 3 / 4;
    background-color: rgb(15, 199, 255);
    opacity: 50%;
}

#leftmain{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background-color: rgb(15, 199, 255);
    opacity: 50%;
}

main{
    grid-column: 1 / 9;
    grid-row: 4 / 5;
    background-color: rgb(255, 87, 87);
    opacity: 50%;
}

#rightmain{
    grid-column: 8 / 9;
    grid-row: 4 / 5;
    background-color: rgb(15, 199, 255);
    opacity: 50%;
}

#leftaudience{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    background-color: rgb(13, 0, 255);
    opacity: 50%;
}

#audience{
    grid-column: 1 / 9;
    grid-row: 5 / 6;
    background-color: rgb(255, 231, 51);
    opacity: 50%;
}


#rightaudience{
    grid-column: 8 / 9;
    grid-row: 5 / 6;
    background-color: rgb(13, 0, 255);
    opacity: 50%;
}

#leftcompetition{
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    background-color: rgb(51, 255, 0);
    opacity: 50%;
}

#competition{
    grid-column: 1 / 9;
    grid-row: 6 / 7;
    background-color: rgb(255, 112, 51);
    opacity: 50%;
}

#rightcompetition{
    grid-column: 8 / 9;
    grid-row: 6 / 7;
    background-color: rgb(51, 255, 0);
    opacity: 50%;
}

#wrapper{
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    opacity: 50%;
}

#footercontent{
    background-color: rgb(21, 245, 17);
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    opacity: 50%;
}

footer{
    background-color: rgb(247, 247, 114);
    grid-column: 1 / 9;
    grid-row: 7 / 8;
    opacity: 50%;
}

#footercontent2{
    background-color: rgb(21, 245, 17);
    grid-column: 8 / 9;
    grid-row: 7 / 8;
    opacity: 50%;
}