#logo{
    background-image: url(Logo.png);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-size: 100%;
    background-repeat: no-repeat;
}

header{
    background-color: rgb(247, 247, 114);
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    opacity: 50%;
}

nav{
    grid-row: 2 / 3;
    grid-column: 1 / 6;
    background-color: rgb(233, 51, 233);
    opacity: 50%;
}

main{
    grid-column: 1 / 6;
    grid-row: 3 / 4;
    background-color: rgb(255, 87, 87);
    opacity: 50%;
}

#main2{
    grid-column: 1 / 6;
    grid-row: 4 / 5;
    background-color: rgb(255, 112, 51);
    opacity: 50%;
}

#wrapper{
    display: grid;
    grid-template-columns: repeat(5, minmax(0px, 5fr));
    grid-template-rows: minmax(0px, 5fr) minmax(0px, 3fr) minmax(0px, 30fr) minmax(0px, 30fr) minmax(0px, 5fr);
    opacity: 50%;
}

footer{
    background-color: rgb(247, 247, 114);
    grid-column: 1 / 6;
    grid-row: 5 / 6;
    opacity: 50%;
}