* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
#logo{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: .5rem;
    margin: 0;
    background-size: 10rem;
    opacity: 85%;
    border-style: solid;
}

#logo img{
    background-position: center;
    opacity: 100;
}

header{
    grid-column: 2 / 5;
    grid-row: 1 / 2;
}

header h1{
    background-size: 16rem;
    opacity: 100%;
    padding: 1rem;
    margin: 0;
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 2em;
    font-weight: 900;
    border-radius: 5rem;
    border-style: solid;
    text-align: center;
    background-color: #FF0000;
    color: #000000;
    text-shadow: 2px 2px 0 #ff9d00, -2px -2px 0 white;
}

#headright{
    grid-column: 8 / 9;
    grid-row: 1 / 2;
    opacity: 80%;
}

nav{
    grid-row: 2 / 3;
    grid-column: 2 / -2;
    background-color: rgb(114, 111, 111);
    border-style: groove;
    border-color: #000;
    opacity: 70%;
}

nav a{
    font-weight: 800;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #000000;
    list-style-type: upper-latin;
    text-decoration: none;
    display: block;
}

nav a:hover{
    opacity: 100%;
    color: rgb(255, 0, 0);
}

nav ul{
    padding: 0px;
    display: flex;
    flex-flow: row; flex-flow: nowrap;
    list-style-type: none;
}

nav ul li{
    width: 100%;
}

#leftcarbackground{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    opacity: 50%;
}

#carbackground{
    grid-column: 1 / 9;
    grid-row: 2 / 4;
    background-image: url(images/CarDriving.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    padding: 25rem;
    margin-top: 0rem;
    border-bottom: #000000;
    border-bottom-style: solid;
}

#rightcarbackground{
    grid-column: 8 / 9;
    grid-row: 3 / 4;
    opacity: 50%;
}

#leftmain{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background: linear-gradient(to bottom, #ff2f18, #D1D1D1);
    opacity: 80%;
}

main{
    grid-column: 2 / 8;
    grid-row: 4 / 5;
    background: linear-gradient(to bottom, #ff2f18, #D1D1D1);
    opacity: 80%;
    display: flex;
    flex-direction: row;
}

main p{
    text-align: left;
    font-size: large;
    margin-right: 2rem;
    line-height: 1.5;
}

main img{
    opacity: 100%;
    margin-right: 2rem;
    padding: 2rem;
}

main h1{
    color: #000;
    padding-left: 1rem;
    font-weight: 500;
    text-decoration: underline;
    opacity: 100%;
    margin-right: 2rem;
}

#rightmain{
    grid-column: 8 / 9;
    grid-row: 4 / 5;
    background: linear-gradient(to bottom, #ff2f18, #D1D1D1);
    opacity: 80%;
}

#leftaudience{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    opacity: 80%;
    background: linear-gradient(to bottom, #D1D1D1, #ff9318);
    border-bottom: #000000;
    border-bottom-style: solid;
}

#audience{
    grid-column: 2 / 8;
    grid-row: 5 / 6;
    opacity: 80%;
    text-align: right;
    line-height: 1.5;
    padding-right: 2rem;
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(to bottom, #D1D1D1, #ff9318);
    border-bottom: #000000;
    border-bottom-style: solid;
}

#audience p{
    font-size: large;
    line-height: 1.5;
}

#audience img{
    padding: 2rem;
}

#audience h1{
    margin-left: 1rem;
    font-weight: 500;
    text-decoration: underline;
}

#rightaudience{
    grid-column: 8 / 9;
    grid-row: 5 / 6;
    opacity: 80%;
    background: linear-gradient(to bottom, #D1D1D1, #ff9318);
    border-bottom: #000000;
    border-bottom-style: solid;
}

#leftcompetition{
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    opacity: 50%;
}

#competition{
    grid-column: 2 / 8;
    grid-row: 6 / 7;
    opacity: 80%;
    display: flex;
    flex-direction: row;
    line-height: 1.5;
}

#competitionback{
    grid-column: 1 / 9;
    grid-row: 6 / 7;
    opacity: 80%;
    background-image: url(images/Sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#competition p{
    font-size: large;
    line-height: 1.5;
}

#competition h1{
    margin-left: 1rem;
    font-weight: 500;
    padding: 1rem;
    text-decoration: underline;
}

#competition img{
    padding: 2rem;
}

#rightcompetition{
    grid-column: 8 / 9;
    grid-row: 6 / 7;
    opacity: 80%;
}

#wrapper{
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-template-rows: minmax(0px, 1fr) minmax(0px, .25fr) minmax(0px, 3.75fr);
    opacity: 95%;
}

#footercontent{
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    opacity: 50%;
}

#footercontent p{
    line-height: .75;
    text-align: left;
    font-size: small;
}

footer{
    grid-column: 1 / 9;
    grid-row: 7 / 8;
    opacity: 50%;
}

footer p{
    text-align: center;
}

#footercontent2{
    grid-column: 8 / 9;
    grid-row: 7 / 8;
    opacity: 50%;
}