body{

}
nav{
    background: fixed;
    background-color: #ffffff30;
    color: blue;
    text-align: center;
}
h1{
    text-align: center;
    color: black;
    background: fixed;
    background-color: orangered;
}
